/* *{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(65, 59, 59, 0.7),#303135), url(background.png);
    background-position: center;
    background-size: cover;
} */
/*

*/
.navbar {
    background: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);

    /* background: linear-gradient(69.8deg, rgb(25, 49, 108) 2.8%, rgb(1, 179, 201) 97.8%); */
    position: fixed;
    top: 0; /* Place the navbar at the top */
    left: 0; /* Place the navbar at the right side */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px; /* Adjust the width to your preference */
    height: 100vh; /* Make it full height */
    z-index: 2;
    justify-content: space-around; /* Center the items vertically */
  }
  
  
  .navbar ul {
    display: flex;
    flex-direction: column; /* Display items vertically */
    list-style: none;
  }
  
  

  
  .navbar ul li {
    width: 100%;
  }
  
   
.navbar ul li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
    position: relative;
  }

  .navbar ul li a .circle {
    width: 100%; /* Fully encompass the icons horizontally */
    height: 100%; /* Fully encompass the icons vertically */
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0); /* Center the circle */
    transition-delay: 0.5s;
  }
  



.navbar ul li.active a .circle
{
    transform: translateY(-37px) scale(1);
    
    transition: 0.5s;
    transition-delay: 0.5s;
    /* opacity:1; */
 }


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(65, 59, 59, 0.7), #303135), url(background.png);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__wrapper .cols__container .left__col button {
    background-color: rgb(91, 91, 153); /* Change this to your desired color */
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.header__wrapper .cols__container .left__col button:hover {
    opacity: 0.8;
}
.header__wrapper .cols__container .left__col button a{
   color: white;
}
.header__wrapper .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .left__col .about li span.items-lost a{
    color: #ff4500; /* Change this to your desired color for Items Lost */
}

.header__wrapper .cols__container .left__col .about li span.items-found a{
    color: #008000; /* Change this to your desired color for Items Found */
}

a {
    text-decoration: none;
}

.header__wrapper header {
    width: 100%;
    background: url("../img/bg.jpeg") no-repeat 50% 20% / cover;
    min-height: calc(100px + 15vw);
}

.header__wrapper .cols__container .left__col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header__wrapper .cols__container .left__col .img__container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translatex(-50%);
}

.header__wrapper .cols__container .left__col .img__container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.header__wrapper .cols__container .left__col .img__container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header__wrapper .cols__container .left__col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header__wrapper .cols__container .left__col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}

.header__wrapper .cols__container .left__col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header__wrapper .cols__container .left__col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.header__wrapper .cols__container .left__col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .left__col .about:after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #cccccc;
    height: 1px;
    width: 100%;
}
.header__wrapper .cols__container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header__wrapper .cols__container .content ul li {
    display: flex;
}

.header__wrapper .cols__container .content ul i {
    font-size: 1.3rem;
}
.header__wrapper .cols__container .content ul li a {
    color: rgb(73, 92, 144); /* Change this to your desired color */
}


.header__wrapper .cols__container .right__col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header__wrapper .cols__container .right__col nav ul li a {
    text-transform: uppercase;
    color: #818181;
}

.header__wrapper .cols__container .right__col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
}

.header__wrapper .cols__container .right__col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.header__wrapper .cols__container .right__col nav button:hover {
    opacity: 0.8;
}

.header__wrapper .cols__container .right__col .photos {
    display: none;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 10px;
    max-height: 365px;
    overflow-y: auto;
    padding: 0 0 5px;
}

.header__wrapper .cols__container .right__col .photos img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: 150px;
    object-fit: cover;
}

/* Responsiveness */

@media (min-width: 868px) {
    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header__wrapper .cols__container .left__col {
        padding: 25px 0px;
    }

    .header__wrapper .cols__container .right__col nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .header__wrapper .cols__container .right__col .photos {
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 1017px) {
    .header__wrapper .cols__container .left__col {
        margin: 0;
        margin-right: auto;
    }

    .header__wrapper .cols__container .right__col nav {
        flex-direction: row;
    }

    .header__wrapper .cols__container .right__col nav button {
        margin-top: 0;
    }
}


/* -------------------------- */

 .navbar ul li a .icon {
    position: relative;
    display: block; 
    line-height: 70px;
    font-size: 1.5em;
    text-align: center;
    
   color:rgb(6, 57, 84);

    transition: 0.5s;
    margin-right: 10px;
  }
  
  .navbar ul li a .text {
    position: relative;
   
    color:rgb(6, 57, 84);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transform: translateY(10px);
    transition: 0.5s;
    opacity: 1;
  }
  
  .navbar ul li.active a .icon {
    transform: translateY(-32px);
  }
  
  .navbar ul li.active a .text {
    transform: translateY(10px);
    opacity: 1;
  }
  

  /* Hide the text initially */
.navbar ul li a .text {
    opacity: 0;
  }
  
  /* Show the text when hovering over the list item */
  .navbar ul li a:hover .text {
    
    opacity: 1;
  }
  
  /* Adjust the position of the icon and text when active */
  .navbar ul li.active a .icon {
    transform: translateY(-32px);
  }
  
  .navbar ul li.active a .text {
    transform: translateY(50px);
    opacity: 1;
  }
  



  
  
   